<a href="https://colab.research.google.com/github/SQuinones/TTP_Winter2022/blob/main/day_2_Collection_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Collection Data Types

List, Dictionaries & Tuples

#Lists

List can be thought of the most general version of sequence in Python. Unlike stringd, they are mutable, meaning the elements inside a list can be changed!

In [ ]:
#Assing a list to an variable named my_list
my_list = [1,2,3]

In [ ]:
my_list

[1, 2, 3]

In [ ]:
my_list = ['A string',23,100.232,'o']

In [ ]:
my_list

['A string', 23, 100.232, 'o']

In [ ]:
len(my_list)

4

#Indexing and Slicing

Indexing and slicing works just like in strings

In [ ]:
#We can also use + to concatenate lists, just like we did for strings 
my_list = ['one','two','three',4,5]

In [ ]:
#Grab elemnt at index 0
my_list[0]

'one'

In [ ]:
#Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [ ]:
#Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

In [ ]:
my_list

['one', 'two', 'three', 4, 5]

In [ ]:
#We can also use + to concatenate lists, just like we did for strings
my_list + ['new item ']

['one', 'two', 'three', 4, 5, 'new item ']

In [ ]:
# Note: This doesn't actaully change the original list!
my_list

['one', 'two', 'three', 4, 5]

In [ ]:
#We would have to reassign the list to make the change permanent
my_list = my_list + ['add new item permanetly']

In [ ]:
my_list

['one', 'two', 'three', 4, 5, 'add new item permanetly']

In [ ]:
my_list.append('something')

In [ ]:
my_list

['one', 'two', 'three', 4, 5, 'add new item permanetly', 'something']

In [ ]:
#Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'add new item permanetly',
 'something',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item permanetly',
 'something']

In [ ]:
my_list

['one', 'two', 'three', 4, 5, 'add new item permanetly', 'something']

In [ ]:
num = [1,2,3,4,5,6]
num

[1, 2, 3, 4, 5, 6]

In [ ]:
num[-1] = 9 
num

[1, 2, 3, 4, 5, 9]

#Basic List Methods

In [ ]:
#Create a new list
l = [1,2,3,]

In [ ]:
#Append
l.append('append me!')

In [ ]:
l.pop(0)

1

In [ ]:
l

[2, 3, 'append me!']

In [ ]:
mlist = ['string']

In [ ]:
len(mlist)

1

In [ ]:
#Use pop to "pop off" an item from the list. By default pop takes off the last index,
#but you can also specify which index to pop off.
l.pop()

'append me!'

#The sort and reverse methods

In [ ]:
new_list = ['a','e','x','b','c']
new_list

['a', 'e', 'x', 'b', 'c']

In [ ]:
#Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [ ]:
new_list

['c', 'b', 'x', 'e', 'a']

In [ ]:
#Use sort to sort the list  ( in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [ ]:
new_list

['a', 'b', 'c', 'e', 'x']

In [ ]:
nlist = ['a','x','t',str(12),str(55)]
nlist.sort()
nlist

['12', '55', 'a', 't', 'x']

#Dictionaries

In [ ]:
#Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1', 'key2': 'value2'}

In [ ]:
#Call values by their key
my_dict['key2']

'value2'

In [ ]:
#Its important to note that dictionaries are very flexible i the data types they can hold.
my_dict = {'key1':123, 'key2':[12,23,33], 'key3':['item0','item1', 'item2']}

In [ ]:
#Lets call items fronm the dictionary
my_dict['key3']

['item0', 'item1', 'item2']

In [ ]:
#Can call an index on that value
my_dict['key3'][0]

'item0'

In [ ]:
#Can then even call methods on that value
my_dict['key3'][0].upper()

'ITEM0'

In [ ]:
my_dict['key1']

123

In [ ]:
#Substract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

In [ ]:
# We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it.
# Create a new dictionary
d = {}

In [ ]:
# Create a new key through assignment
d['animal'] = 'Dog'

In [ ]:
# Can do this with any object
d['answer'] = 42

In [ ]:
d

{'animal': 'Dog', 'answer': 42}

#Dictionary Methods

In [ ]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [ ]:
#Method to grab all values 
d.values

In [ ]:
# Method to return a list of all keys 
d.keys()

dict_keys(['animal', 'answer'])

In [ ]:
# Method to grab all values
d.values()

dict_values(['Dog', 42])

In [ ]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('animal', 'Dog'), ('answer', 42)])

#Tuples
In Python tuples are very similar to lists, however, unlike lists they are immutable meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.

In [ ]:
#Can create a tuple with mixed types
t =(1,2,3)

In [ ]:
#Check len just like a list 
len(t)

3

In [ ]:
# Can also mix object types
t = ('one',2, 2)

# Show
t

('one', 2, 2)

In [ ]:
# Use indexing just like we did in lists
t[0]

'one'

In [ ]:
#slicing just like a list
t[-1]

2

In [ ]:
#Tuple Methods

In [ ]:
t.index('one')

0

In [ ]:
# Use .count to count the number of times a value appears
t.count('one')

1

In [ ]:
t.count(2)

2

#Immutability

It can't be stressed enough that tuples are immutable.

In [ ]:
#t[0] = 'change'

In [ ]:
# Because of this immutability, tuples can't grow. Once a tuple is made we can not add to it.
#t.append('nope')