<a href="https://colab.research.google.com/github/SQuinones/TTP_Winter2022/blob/main/day_2_For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# For-Loops
A for loop acts as an iterator in Python, it goes through items that are in a sequence or any other iterable item. Objects that we've learned about that we can iterate over include strings,lists,tuples, and even built in iterables for dictionaries, such as the keys or values.

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
for i in l: 
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# # Modulo
# The modulo allows us to get the remainder in a division and uses the % symbol. 
17 % 5

2

In [ ]:
# Let's print only the even number from a list 

mlist = [1,22,332,42,51,6,237,8,93,10,55,65,76,23,87,23,9,41,45,66]
#In the previous line I created a list of numbers 

for number in mlist:
#in this line I create for loop to iterate through my list of numbers

  if number % 2 == 0:
  #In this line I am using a conditional statement 'if-statement' to determine. if a number is even!
    print(number)
    #in this line I am printing the iterator after the conditional statement has been executed.

  else:
  #In this line I am creating a else statement that will execute when the if conditional is false
    print('odd number: ')
    #In this line I am printing the odd numbers

odd number:
22
332
42
odd number:
6
odd number:
8
odd number:
10
odd number:
odd number:
76
odd number:
odd number:
odd number:
odd number:
odd number:
odd number:
66

In [ ]:
# Start sum at zero
l = [1,2,3,4,5,6,7,8,9,10]
list_sum = 0 

for num in l:
    list_sum = list_sum + num

print(list_sum)

55

In [ ]:
for letter in ' This is a string.':
  print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g
.

In [ ]:
l = [(2,4),(6,8),(10,12)]
for tup in l:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [ ]:
# Now with unpacking!
for (t1,t2) in l:
    print(t1)

2
6
10

In [ ]:
d = {'k1':1,'k2':2,'k3':3}

In [ ]:
for item in d :
  print(item)

k1
k2
k3

In [ ]:
for k,v in d.items():
# we use items() to print the items in the dictionary 
  print(k)
  print(v)

k1
1
k2
2
k3
3