<a href="https://colab.research.google.com/github/SQuinones/TTP_Winter2022/blob/main/Warm_up_Activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Select a set of characters from "Hello World" to print

In [ ]:
str = "Hello World"
print(str[1:5])

ello

#2. Print "Hello World" in reverse.

In [ ]:
 str = "Hello World"[:: -1]
 print(str)

dlroW olleH

#3. Print user input in reverse

In [ ]:
food = input("What is your favorite food: ")
print(food[:: -1])

What is your favorite food: tacos
socat

#4. Print user input in a sentence

In [ ]:
name = input("What is your name:")
age = input("How old are you: ")
city = input("Where do you live: ")
color = input("What is your favority color: ")
print(f"Hello {name}, you are {age} old, live in {city} and your favority color is {color}")

What is your name:lila
How old are you: 29
Where do you live: New York
What is your favority color: Red
Hello lila, you are 29 old, live in New York and your favority color is Red

#5. Print seven types of objects

In [ ]:
x = 10
color = "Yellow"
ListNumber = [1, 2, 3, 4]
print(type(x))
print(type(color))
print(type(ListNumber))

<class 'int'>
<class 'str'>
<class 'list'>

#6. Add two numbers together

In [ ]:
print(9 + 5)

14

#7. Find the square root of 5 numbers

In [ ]:
n1 = 15
n2 = 20
n3 = 12
n4 = 23
n5 = 40

sqr1 = n1**2
sqr2 = n2**2
sqr3 = n3**2
sqr4 = n4**2
sqr5 = n5**2

print(sqr1)
print(sqr2)
print(sqr3)
print(sqr4)
print(sqr5)

225
400
144
529
1600

#8. Find the whole number of 5 division problems

In [ ]:
print(5//8)
print(10//2)
print(20//3)
print(30//7)
print(50//3)

0
5
6
4
16

#9. Create two lists and combine them

In [ ]:
ListColors = ["Red, Yellow, Green"]
ListAnimals = ["Bird, Sun, Grass"]
print(ListColors + ListAnimals)

['Red, Yellow, Green', 'Bird, Sun, Grass']

#10. Create two tuples not arrays and combine them

In [ ]:
list1 = (0, 1, 2, 3, 4)
list2 = (5, 6, 7, 8, 9)
print(list1, list2)
print(list1 + list2)

(0, 1, 2, 3, 4) (5, 6, 7, 8, 9)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

#11. Convert 5 objects

In [ ]:
b = 123
c = 2j
d = 1.0
e = 5
f = 5.8

a1 = float(b)
a2 = int(d)
a3 = int(b)
a4 = int(f)
a5 = float(e)

print(a1)
print(a2)
print(a3)
print(a4)
print(a5)

123.0
1
123
5
5.0

#Convert a lowercase string to an UPPERCASE STRING

In [ ]:
message = " hello world"
print(message.upper())

 HELLO WORLD

#13. Print out the string "Python" one letter at a time

In [ ]:
string = "Python"
for letter in string:
    print(letter)

P
y
t
h
o
n

#14. Print an object from a list of objects

In [ ]:
print(string[3])

h

#15. BONUS!!! Get the version of Python being used

In [ ]:
import sys
print("Python version")
print(sys.version)
print("Version info.")
print(sys.version_info)

Python version
3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]
Version info.
sys.version_info(major=3, minor=7, micro=12, releaselevel='final', serial=0)